.input-remittance {
  box-sizing: border-box;
  background-color: transparent;
  box-shadow: 0 0 0 0.5px var(--text-color);
  font-weight: 300;
  color: var(--text-color);
  transition: border-color 0.3s ease;
  border-radius: 1rem;
  max-width: 100%;
  border: var(--border-color) 1px solid;
  padding: 0.75rem 1rem;
  width: 100%;
  font-size: 18px;
  font-family: Quicksand, sans-serif;
}

.input-remittance::placeholder {
  color: var(--text-color);
}

.input-container {
  position: relative;
  svg {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }
}
