.sendBox{
    text-align: center;
    width: 25%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.sendText {
    text-align: center;
    font-size: 18;
    color: var(--primary-color);
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.225px;
}