.navbar-galaxy {
  z-index: 30;
  display: flex;
  max-width: 100vw;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1rem;
  background-color: var(--bg-secondary);
}

.navbar-galaxy>ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 40%;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

.navbar-galaxy>a {
  display: inline-block;
  height: auto;
}

.navbar-galaxy>a>img {
  aspect-ratio: 877 / 208;
  width: 250px;
  display: block;
  height: auto;
}

.btn-logout {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    margin-right: 2px;
  }
}

select {
  all: unset;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  color: var(--text-primary);
  font-size: 14px;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%23999' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0 top 60%;
  background-size: 1rem 0.5rem;
  padding-right: 1.1rem;
  margin-right: 1rem;

  option {
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    font-size: 14px;
  }
}

.btn-go-login {
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-size: 14px;
  margin-right: 4px;
}

.active-item {
  color: var(--primary-color) !important;
}


.navbar-galaxy-secondary {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.5rem;
  padding: .5rem;
  background-color: var(--bg-primary);
  
}

.social-media-icon {
  aspect-ratio: 1;
  align-self: center;
  display: block;
}

@media screen and (max-width: 899px) {
  .navbar-galaxy {
    display: none;
  }

  .navbar-galaxy-secondary {
    font-size: .75rem;
  }
}


.dinamic-key {
  font-size: 1rem!important;
  font-weight: 400!important;
  color: var(--secondary-color)!important;
}

.logged-links{
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: center;
  margin: 0;
  width: auto!important;
}

.navbar-container{
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 30;
}