.input-pass-container{
  width: 100%;
  display: flex;
  position: relative;
  button {
    position: absolute;
    height: 100%;
    right: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    width: 2rem;
  }
}