.operation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--border-color);
  font-size: 0.9rem;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  aspect-ratio: 1;
  top: 1px;
  left: 1px;
  background-color: var(--border-color);
  transition: ease-out .3s;
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked+.slider::before {
  background-color: var(--active-color);
  transform: translateX(17px);
}

input+.slider {
  background-color: transparent;
  border: 2px solid var(--border-color);
}

input:checked+.slider {
  border-color: var(--active-color);
}