.carousel-fullscreen {
  position: relative;
  width: auto;
  height: 400px;
  background: var(--bg-primary);
  margin: 50px auto;
}

.carousel-rounded-wrapper {
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.text-section {
  flex: 1;
  padding: 35px;
  flex-direction: column;
  justify-content: center;
  background: var(--bg-secondary);
}

.text-section h2 {
  font-size: 50px;
  margin-top: 2px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 20px;
  max-width: 100%;
}

.text-section p {
  margin-top: 30px;
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.6;
  max-width: 100%;
}

.carrousel-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 70px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
  padding: 15px 50px;
  
}

.carrousel-button a {
  font-size: 20px;
  font-style: normal;
}

.cta-button:hover {
  background: #444;
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.image-section {
  flex: 1;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 0%;
}

.nav-button {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  filter: invert(100%);
  transform: translateY(-50%);
  color: var(--secondary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.left_button {
  width: 50px;
}

.right_button {
  width: 50px;
}

.nav-button:hover {
  transform: translateY(-50%) scale(1.1);
}

.nav-button.prev {
  left: -70px;
}

.nav-button.next {
  right: -70px;
}

.nav-button span {
  line-height: 1;
  user-select: none;
}

@media (max-width: 1024px) {
  .carousel-fullscreen {
    width: 90vw;
  }

  .text-section {
    padding: 40px;
  }

  .text-section h2 {
    font-size: 2rem;
  }

  .text-section p {
    font-size: 1rem;
  }

  .nav-button {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .carousel-fullscreen {
    width: 95vw;
    height: 70vh;
    margin: 30px auto;
  }

  .slide {
    flex-direction: column;
  }

  .text-section {
    padding: 30px;
  }

  .text-section h2 {
    font-size: 1.8rem;
  }

  .text-section p {
    max-width: 100%;
  }

  .nav-button {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
}
