.button-save {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .5rem 1rem;
  background-color: var(--bg-tertiary);
  color: var(--text-color);
  border-radius: 2rem;
  border: none;
}