.remmitance-item {
  margin-top: 16px;
  background-color: var(--bg-tertiary);
  padding: 16px;
  border-radius: 12px;
  color: var(--text-secondary);
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0 !important;
}

.left-section {
  display: flex;
  align-items: center;
}

.initials-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d25dd0; /* Espacio para las iniciales, se añade luego */
  margin-right: 10px;
}

.name-section {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: 18px;
}

.name {
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.14px;
}

.relation {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: 18px;
  color: var(--text-secondary);
}

.right-section {
  display: flex;
  align-items: center;
}

.amount {
  font-size: 24px;
  color: var(--secondary-color);
  font-weight: 600;
  text-align: end;
  text-transform: capitalize;
  line-height: normal;
  
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 12px;
}

.info-item {
  margin-bottom: 2px;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.13px;
}

.icon-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.profile-icon {
  width: 24px;
  height: 24px;
}

.remmitance-item > a {
  border: var(--text-color) solid 1px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px 9px;
  font-size: .75rem;
  font-weight: 500;
}

.date-absolute {
  position: absolute;
  bottom: 50%;
  right: 1rem;
}