.btn-need-help {
  border-radius: 50%;
  background-color: var(--bg-secondary);
  border: none;
  display: block;
  width: 80px;
  aspect-ratio: 1;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.2s ease-in-out;
}

.btn-need-help:hover {
  transform: translateX(-50%) translateY(-8px) scale(1.05);
}

.btn-need-help > img {
  display: block;
  width: 100%;
}