.login-container {
  max-width: 90vw;
  display: grid;
  grid-template-columns: min(30%, 400px) 1fr;
  /* grid-template-columns: 30% 1fr; */
  grid-template-rows: 1fr;
  gap: 10rem;
  margin-inline: auto;
  margin-block: 2rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  padding-left: 3rem;
  padding-top: 4rem;
  p, h3 {
    align-self: flex-start;
    margin: 0;
  }
}

#btn-login-people {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #e7458e;
  color: white;
  font-size: 1rem;
}

.login-container form>nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: last baseline;
}

.banner {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.banner p {
  padding-left: 2rem;
}

.login-links {
  text-align: center;
}

.ad-container {
  margin-top: 1rem;
  overflow: hidden;
}

.banner>img {
  /* aspect-ratio: 519/333; */
  max-width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.banner {
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 900px) {
  .login-container {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2rem;
  }

  .banner {
    grid-column: span 1;
    grid-row: span 1;
  }

  .banner>img {
    max-width: 90vw;
  }
}