

input {
  margin-left: 5px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  grid-column: span 1;
  grid-row: span 1;
}

nav {
  grid-column: span 1;
  grid-row: span 1;
}

.banner {
  grid-column: span 1;
  grid-row: span 2;
}

.login-links {
  text-align: center;
}