footer {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 100%;
  bottom: 0; 
  padding: 1rem 0;
  hr {
    margin: 1em;
    border: solid #dfdfdf 1.5px;
  }
}

.footer-logo {
  width: 100%;
  img{
    display: block;
    margin-inline: auto;
    width: min( 90vw, 300px );
  }
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 1.5rem;
  a {
    color: #333;
  }
}

.footer-links > div {
  display: flex;
  flex-direction: column;
  gap: .75rem
}

@media screen and (max-width: 900px ) {
  .footer-links {
    flex-wrap: wrap;
    gap: 5rem;
    hr {
      display: none;
    }
  }
}
