.consignments-container { overflow: hidden; }

.consignments-presentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem 5rem;
  align-items: center;
}

.consignments-text>p {
  margin-left: 2rem;
  font-weight: 400;
}

.consignments-text>h4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-block: .75rem;
}

.consignments-text>h1 {
  font-weight: 600;
  font-size: 3rem;
  margin-block: .75rem;
}

.consignments-hero>img {
  width: 100%;
}

.tabs {
  font-family: sans-serif;
  padding: 0 5rem;
  max-width: 100%;
}

.tab-header {
  display: flex;
  border-bottom: 2px solid var(--bg-secondary);
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
}

.tab-button {
  padding: 12px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 400;
  color: #444;
  border-radius: 0;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease;
}

.tab-button.active {
  font-weight: 600;
  border-bottom: 3px solid var(--primary-color);
  color: var(--primary-text);
}

.tab-content {
  padding: 16px;
}

@media (max-width: 768px) {
  .consignments-presentation {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
  }

  .tabs {
    padding: 0 1rem;
  }

  .consignments-text>p {
    text-align: center;
    margin-block: 1rem;
  }
}