.card-container {
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: var(--bg-secondary);
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.card-header {
  border-radius: 1rem;
  background-color: var(--bg-tertiary);
  padding: .45rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: .75rem;
}

.card-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.card-header > div > h3 {
  margin: 0;
  font-weight: 500;
}

.card-content {
  margin-top: .75rem;
}