.remittance-step-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.remittance-step-container h1{
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: var(--secondary-color);
}

.remittance-step-container p{
  line-height: 137%;
  font-weight: 300;
  margin: 0;
}

.remittance-step-unique-column {
  flex: 1;
  margin-top: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 201px;
}