.page-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 2.25rem 2rem 2.25rem;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 48% 52%;
  gap: 1.5rem;
}

.grid-area-movements {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.grid-area-balance {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-area-applications {
  /* SECTION estilos provisionales mientras implementa card */
  background-color: var(--bg-secondary);
  border-radius: 1rem;

  /* !SECTION */
  grid-column: 2 / 3;
  grid-row: 1 / 3;

  box-sizing: border-box;
  border-radius: 1rem;
  background-color: var(--bg-secondary);
  width: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    * {
      grid-row: auto;
      grid-column: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .page-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 0rem 0rem 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .page-container {
    padding: 0rem 1rem 0rem 0rem;
  }
}
