/* Declaración de las variables */
:root {
  --text-color: #4b4a49;
  --primary-color: #e7458f;
  --secondary-color: #f0813a;
  --tertiary-color: #4d3b8f;
  --fourth-color: #4f975a;
  --fifth-color: #efad43;
  --sixth-color: #ff8d8d;

  --bg-primary: #fff;
  --bg-secondary: #f0f0f0;
  --bg-tertiary: #d4d4d4;
  --text-primary: #4f4e4d;
  --text-secondary: #fff;
  --active-color: #4caf50;
  --border-color: #aeaeae;

  -nav-text: var(--text-color) 333;
}
/* Declaración de las variables que cambian en dark mode*/
[data-theme="dark"] {
  --text-color: #fff;
  --primary-color: #e7458e;
  --bg-primary: #282828;
  --bg-secondary: #414141;
  --bg-tertiary: #626262;
  --text-primary: #fff;
  --text-secondary: #fff;
  --nav-text: #ffffff;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  min-height: 100dvh;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
/* Contenedor principal de la app, sirve para gestionar 
footer, navbar y contenido adecuadamente */
.app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Este es el contenedor principal 
y el contenido que el enrutador muestra*/
.app > .content {
  flex: 1;
  padding-block: 5rem; /* Se agrega globalmente por el footer y el navbar*/
}

input:focus {
  outline: none;
  box-shadow: none;
}

* {
  font-family: Quicksand;
}


.carousel-cards-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.carousel-cards-content {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel-cards-pagination {
  width: 50%;
}

.carousel-cards-card {
  position: absolute;
  transition: transform 0.25s ease-in-out;
  cursor: pointer;
  transform: translateX(0) translateY(0) scale(1);
}
