:root {
  --text-color: black;
  --primary-color: #e7458e;
  --secondary-color: #F0813A;
  --bg-primary: #fff;
  --bg-secondary: #f0f0f0;
  --bg-tertiary: #626262;
  --text-primary: #4f4e4d;
  --text-secondary: #fff;
}

[data-theme="dark"] {
  --text-color: #fff;
  --primary-color: #e7458e;
  --bg-primary: #282828;
  --bg-secondary: #414141;
  --text-primary: #fff;
  --text-secondary: #fff;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  min-height: 100dvh;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app > .content {
  flex: 1;
}
