:root {
  --bg-color: white;
  --text-color: black;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  min-height: 100dvh;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}




