.movements-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grid-area-movements {
  grid-column: auto;
}

.space-b {
  padding-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .movements-page-container {
    grid-template-columns: 1fr!important;
    * {
      grid-column: auto;
      grid-row: auto;
    }
  }
  
}