h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem 1rem 1.5rem 1rem;
}

.movement-details{
  padding-inline: 1rem;
  padding-bottom: 8rem; /*Quitar al agregar botones*/
  font-weight: 300;
  gap: 1.5rem;
}

.movement-detail-text {
  display: flex;  
  gap: 1rem;
}