.profile-data-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-data-container>label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.profile-data-container>span {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  color: var(--secondary-color)
}

.profile-card-grid {
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: 40% 30% 1fr;
  gap: 2rem;
}

.profile-card-header-text {


  p {
    margin: 0;
  }

  a {
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
  }
}

.profile-card-header-picture {
  display: flex;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}

.profile-card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-card-save-button {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  background-color: var(--bg-tertiary);
  color: var(--text-color);
  font-family: Quicksand;
  border-radius: 2.1rem;
  padding: 0.4rem 1.5rem;
  display: flex;
  gap: .5rem;
  align-items: center;

  img {
    max-width: 24px;
    aspect-ratio: 1;
  }
}

.profile-card-document {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--bg-secondary);
  color: var(--text-color);
  gap: 1rem;
  select {
    border: 1px solid var(--text-color);
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem 3rem 1rem 0.5rem;
    width: min(100%, 350px);
    background: url('../../../assets/icons/chevron_down.svg') no-repeat right 1rem center;
    background-size: 1.5rem;
  }
}

.profile-card-document>div {
  margin-right: 3.9rem;
}

.grid-span-2 {
  grid-column: span 2;
}

@media screen and (max-width: 1450px) {
  .profile-card-document>div {
    margin-right: 0;
  }
}

@media screen and (max-width: 1376px) {
  .profile-card-document>div {
    margin-right: 0;
  }

  .profile-card-grid {
    grid-template-columns: 1fr 1fr;
    * {
      grid-column: span 1;
    }
  }

  .profile-card-document {
    select {
      width: 50%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .profile-card-grid {
    grid-template-columns: 1fr;
    * {
      grid-column: span 1;
    }
  }

  .profile-card-document {
    flex-direction: column-reverse;
    padding-bottom: 4rem;
  }
  
}